/* 
    Document   : responsive style
*/

/* ========================================================================== 
    RESPONSIVE NAVIGATION
============================================================================= */
.dl-menuwrapper {
    width: 100%;
    max-width: 300px;
    float: left;
    position: relative;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    -webkit-perspective-origin: 50% 200%;
    -moz-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
    display: none;
    z-index: 1002;
}

.dl-menuwrapper:first-child {
    margin-right: 100px;
}

.dl-menuwrapper button {
    background: #ccc;
    border: none;
    width: 48px;
    height: 45px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
    background: #aaa;
}

.dl-menuwrapper button:after {
    content: '';
    position: absolute;
    width: 68%;
    height: 5px;
    background: #fff;
    top: 10px;
    left: 16%;
    box-shadow: 
        0 10px 0 #fff, 
        0 20px 0 #fff;
}

.dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dl-menuwrapper li {
    position: relative;
}

.dl-menuwrapper li a {
    display: block;
    position: relative;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    outline: none;
}

.no-touch .dl-menuwrapper li a:hover {
    background: rgba(255,248,213,0.1);
}

.dl-menuwrapper li.dl-back > a {
    padding-left: 30px;
    background: rgba(0,0,0,0.1);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
    position: absolute;
    top: 0;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.dl-menuwrapper li.dl-back:after {
    left: 10px;
    color: rgba(212,204,198,0.3);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
    right: 10px;
    color: rgba(0,0,0,0.15);
}

.dl-menuwrapper .dl-menu {
    margin: 5px 0 0 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
    display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
    display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
    display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    margin: 0;
}

/* Animation classes for moving out and in */
.dl-menu.dl-animate-out-2 {
    -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
    -moz-animation: MenuAnimOut2 0.3s ease-in-out;
    animation: MenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes MenuAnimOut2 {
    100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
}
}

@-moz-keyframes MenuAnimOut2 {
    100% {
    -moz-transform: translateX(-100%);
    opacity: 0;
}
}

@keyframes MenuAnimOut2 {
    100% {
    transform: translateX(-100%);
    opacity: 0;
}
}

.dl-menu.dl-animate-in-2 {
    -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
    -moz-animation: MenuAnimIn2 0.3s ease-in-out;
    animation: MenuAnimIn2 0.3s ease-in-out;
}

@-webkit-keyframes MenuAnimIn2 {
    0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
}
100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
}
}

@-moz-keyframes MenuAnimIn2 {
    0% {
    -moz-transform: translateX(-100%);
    opacity: 0;
}
100% {
    -moz-transform: translateX(0px);
    opacity: 1;
}
}

@keyframes MenuAnimIn2 {
    0% {
    transform: translateX(-100%);
    opacity: 0;
}
100% {
    transform: translateX(0px);
    opacity: 1;
}
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
    -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
    -moz-animation: SubMenuAnimIn2 0.3s ease-in-out;
    animation: SubMenuAnimIn2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimIn2 {
    0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
}
100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
}
}

@-moz-keyframes SubMenuAnimIn2 {
    0% {
    -moz-transform: translateX(100%);
    opacity: 0;
}
100% {
    -moz-transform: translateX(0px);
    opacity: 1;
}
}

@keyframes SubMenuAnimIn2 {
    0% {
    transform: translateX(100%);
    opacity: 0;
}
100% {
    transform: translateX(0px);
    opacity: 1;
}
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
    -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
    -moz-animation: SubMenuAnimOut2 0.3s ease-in-out;
    animation: SubMenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimOut2 {
    0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
}
100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
}
}

@-moz-keyframes SubMenuAnimOut2 {
    0% {
    -moz-transform: translateX(0%);
    opacity: 1;
}
100% {
    -moz-transform: translateX(100%);
    opacity: 0;
}
}

@keyframes SubMenuAnimOut2 {
    0% {
    transform: translateX(0%);
    opacity: 1;
}
100% {
    transform: translateX(100%);
    opacity: 0;
}
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
    display: block;
}

.no-js .dl-menuwrapper li.dl-back {
    display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
    background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
    content: '';
}

.dl-menuwrapper button {
    background: #444;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
    background: #333;
}

/* ========================================================================== 
    RESPONSIVE STYLES - DEVICES RESOLUTION
============================================================================= */

@media only screen and (min-width: 320px) and (max-width: 479px){
    .container{
        max-width: 270px;
    }
	.container_12 
	{
        max-width: 270px;
    } 
	
.container_12 .grid_1 {width: 270px;}
.container_12 .grid_2 {width: 270px;}
.container_12 .grid_3 {width: 270px;}
.container_12 .grid_4 {width: 270px;}
.container_12 .grid_5 {width: 270px;}
.container_12 .grid_6 {width: 270px;}
.container_12 .grid_7 {width: 270px;}
.container_12 .grid_8 {width: 270px;}
.container_12 .grid_9 {width: 270px;}
.container_12 .grid_10 {width: 270px;}
.container_12 .grid_11 {width: 270px;}
.container_12 .grid_12 {width: 270px;}
	

    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11, 
    .grid_12{
        float: left;
        width: 270px !important;
    }
	.heading-centered p {
		margin-bottom: 50px;
		}
    
    .page-content .row{
        margin-bottom: 0px;
    }

    .page-content *[class*="grid_"]{
        margin-bottom: 80px;
    }

    *[class*="grid_"] *[class*="grid_"]:last-child{
        margin-bottom: 0;
    }

    *[class*="grid_"] *[class*="grid_"]{
        margin-left: 0 !important;
    }
    
    #header, 
    #top-bar{
        width: 270px;
    }
    
    #top-bar .contact-info, 
    #top-bar .social-links{
        width: 100%;
        max-width: 100%;
    }
    
    #top-bar .social-links{
        margin-top: 10px;
    }
    
    #top-bar .social-links li{
        border-top: 1px solid #eee;
    }
    
    .header-style-3 #top-bar .social-links li{
        border-top: 1px solid #555;
    }
    input#edit-subject {width: 84%;}
    
    #logo{
        width: 100%;
        max-width: 100%;
    }
    
    #nav-container{
        display: none;
    }
    
    .dl-menuwrapper{
        display: block;
        margin-bottom: 20px;
        max-width: 200px;
    }
    
    .dl-menuwrapper li a:hover{
        color: #fff !important;
    }
    
    .header-style-4 .social-links{
        max-width: 100%;
        float: left;
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }
    
    .header-style-4 .social-links li:first-child{
        margin-left: 0;
    }
    
    #search{
        top: 0;
    }
    
    .tp-caption.list-left , 
    .tp-caption.list-right {
       display: none;
    }
    
    .grid_3 .numbers-counter li, 
    .grid_4 .numbers-counter li, 
    .grid_5 .numbers-counter li, 
    .grid_6 .numbers-counter li, 
    .grid_8 .numbers-counter li, 
    .grid_7 .numbers-counter li, 
    .grid_9 .numbers-counter li, 
    .grid_12 .numbers-counter li{
        width: 134px;
        height: 134px;
    }
    
    .grid_3 .numbers-counter li span, 
    .grid_4 .numbers-counter li span, 
    .grid_5 .numbers-counter li span, 
    .grid_6 .numbers-counter li span, 
    .grid_7 .numbers-counter li span, 
    .grid_8 .numbers-counter li span, 
    .grid_9 .numbers-counter li span, 
    .grid_12 .numbers-counter li span{
        padding-top: 35px;
    }
    
    .latest-posts li.post{
        width: 100%;
    }
    
    .tabs li{
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    .tabs.vertical, 
    .tab-content-wrap.vertical{
        width: 100%;
    }
    
    .tab-content-wrap.vertical .tab-content{
        padding-left: 0;
        padding-top: 30px;
    }
    
    .team-alternative li{
        width: 100%;
    }
    
    .team-member-hover .team-member-info .position{
        margin-bottom: 20px;
    }
    
    .team-member-hover .btn-medium{
        left: 85px;
    }
    
    .team-member-hover .team-member-info h5{
        padding-top: 50px;
    }
    
    .team-img-container .team-img-hover{
        display: none;
    }
    
    .history-arrow-right, 
    .history-arrow-left{
        background-size: 170px 35px !important;
    }
    
    #page-title.page-title-2 .pt-title{
        width: 100%;
        text-align: center;
        float: none;
        margin-bottom: 10px;
    }
    
    #page-title.page-title-2 .breadcrumbs{
        float: none;
        display: table;
        margin: 0 auto;
    }
    
    .tabs.vertical.services-tabs, 
    .tab-content-wrap.vertical.services-tab-content-wrap{
        width: 100%;
    }

    
    .chart{
        width: 51px;
        height: 51px;
        min-height: 120px;
        margin-bottom: 20px;
    }
    
    .skills-circular.big .chart{
        width: 96px;
        height: 96px;
    }
    
    .skills-circular.big .percent{
        width: 68px;
        height: 68px;
        font-size: 18px;
    }
    
    .skills-circular.big canvas{
        height: 92px !important;
        width: 92px !important;
    }
    
    .skills-circular.big li{
        margin-right: 0;
        margin-left: 25px;
    }
    
    .widget.social-feed li:nth-child(4n){
        margin-right: 0;
    }
    
    .portfolio-items-holder .grid_6{
        width: 100% !important;
        margin-bottom: 2px;
    }
    
    .portfolio-items-holder .grid_4{
        width: 100% !important;
        margin-bottom: 2px;
    }
    
    .portfolio-items-holder .grid_3{
        width: 100% !important;
        margin-bottom: 2px;
    }
    
    .container.full .portfolio-items-holder .isotope-item{
        width: 100%;
        margin-bottom: 2px;
    }
    
    .blog-posts.blog-post-small-image .post-info-container .date-category{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .blog-posts.blog-post-small-image .post-info-container .post-info{
        padding-left: 0;
    }
    
    .blog-posts.blog-post-small-image li .post-media-container, 
    .blog-posts.blog-post-small-image li .post-body, 
    .blog-posts.blog-post-small-image li .post-media-container img{
        width: 100%;
    }
    
    .blog-posts.blog-post-small-image li .post-body{
        padding-left: 0;
    }
    
    .blog-posts.isotope.cols li.blog-post.isotope-item{
        width: 100% !important;
    }
    
    #post-slider.nivoSlider{
        min-height: 142px;
    }
    
    .blog-post.isotope-item iframe{
        min-height: 142px;
    }
    
    .blog-posts.isotope.full li.blog-post.isotope-item{
        width: 430px !important;
    }
    
    .post-body{
        padding-left: 0;
        float: left;
        width: 100%;
    }
    
    #respond .name-container input, #respond .email-container input{
        width: 100%;
    }
    
    .blog-posts.isotope.cols li.blog-post.isotope-item .post-body, 
    .blog-posts.isotope.full li.blog-post.isotope-item .post-body{
        float: none;
    }
    
    .grid_12.blog-posts .blog-post.isotope-item .post-media-container iframe{
        min-height: 125px;
    }
    
    .blog-posts.isotope.full li.blog-post.isotope-item .nivoSlider{
        min-height: 125px;
    }
    
    .map_canvas{
        height: 300px;
    }
    
    .copyright-container p{
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
	
	.post-body {margin-bottom: 40px;}
	
	.not-front #logo {
		background: none repeat scroll 0 0 #000;
		float: none;
		margin: 0 auto;
		padding: 12px 0 !important;
		position: relative;
	}
	
	.not-front .page-content article.grid_12 {
		padding-top: 10px;
	}
	
	.productos_filtro_categoria,
	.productos_filtro_linea {
		padding: 15px 30px;
	}
	
	.productos_filtro_categoria h2,
	.productos_filtro_linea h2 {
		margin-bottom: 0;
	}
	
	.productos_filtro_categoria ul,
	.productos_filtro_linea ul {
		display: none;
		background: none repeat scroll 0 0 #fff;
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 74px;
		width: 180px;
		z-index: 100;
	}
	
	.detalle_producto {
		padding-left: 0;
		width: 270px;
	}
	
	.detalle_producto .nombre {
		width: 135px;
	}
	
	.detalle_producto h3 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	
	.detalle_producto h1 {
		font-size: 36px;
	    margin-bottom: 10px;
	}
	
	.detalle_producto h2 {
		font-size: 18px;
	    margin-bottom: 10px;
	}
	
	.detalle_producto p {
		font-size: 16px;
	    line-height: 18px;
	}
	
	.detalle_producto .caracteristicas {
		padding-top: 65px;
		position: absolute;
		width: 270px;
	}
	
	.detalle_producto li {
		font-size: 13px;
	}
	
	.detalle_producto li span {
		font-size: 18px;
	}
	
	.detalle_producto .imagen {
		height: 134px;
		width: 134px;
	}
	
	.zoomWrapper {
		height: auto;
    	width: 134px;
	}
	
	.detalle_producto .imagen img {
		width: 94px;
	}
	
	.node-type-productos #block-block-20 {
		padding-top: 150px;
	}
	
	.muestra_producto .opciones {
		display: none;
		background: none repeat scroll 0 0 #fff;
		position: absolute;
		top: 288px;
		width: 164px;
	}
	
	.muestra_producto .opciones li {
		margin: 10px !important;
	}
	
	.muestra_producto .detalle {
		margin-left: 0;
		width: 270px;
	}
	
	.node-type-productos .muestra_producto .imagenes {
		height: 270px;
		width: 270px;
	}
	
	.relacionados .rel_int {
		padding: 10px;
	}
	
	.relacionados {
		margin-bottom: 0 !important;
	}
	
	.relacionados-b {
		margin-bottom: 0 !important;
	}
	
	#footer .grid_9 {
		display: none;
	}
	
	.muestra_producto .detalle .embalaje .unidad {
		font-size: 16px;
	}
	
	.muestra_producto .right {
		padding-top: 40px;
	}
	
	.productos_filtro_categoria,
	.productos_filtro_linea {
		padding: 15px;
		width: 180px;
	}
	
	.not-front #logo {
		background: url("http://www-sistema-durlock.com.ar/sites/all/themes/elvyre/logo_b.png") no-repeat scroll center center #fff;
	}
	
	#logo img {
		visibility: hidden;
	}
	
	.productos #page-title .novedades_header {
		padding: 5%;
		width: 90%;
	}
	
	.productos #page-title .emozione {
		float: left;
		padding: 10% 2%;
		width: 96%;
	}
	
	.productos #page-title .novedades_header_side {
		padding: 0;
		width: 100%;
	}
	
	.productos .prod_destacados .preguntas img {
		width: 80%;
	}
	
	.productos #page-title {
		padding: 40px 0 160px !important;
	}
	
	.productos .productos1,
	.productos .productos2 {
		margin-bottom: 4%;
		margin-right: 4%;
		width: 48%;
	}
	
	.productos .productos1:nth-child(2n+2),
	.productos .productos2:nth-child(2n+2) {
		margin-right: 0%;
	}
	
	.productos .sombra {
		padding: 10px;
	}
	
	.productos .sombra a {
		font-size: 21px !important;
	}
	
	.productos .prod_destacados {
		margin-right: 0;
		margin-top: 30px;
		width: 100%;
	}
	
	.productos .prod_destacados .preguntas {
		margin-left: 5px;
		margin-top: -70px;
		position: absolute;
		top: 50%;
	}
	
	.productos .prod_destacados img {
		width: 95%;
		height: auto;
	}
	
	.productos #logo {
		width: 190px !important;
		padding: 12px 0 !important;
	}
	
	.muestra_producto {
		padding-top: 200px;
	}
	
	.page-productos .productos_filtro_linea {
		padding-left: 0;
		width: 100%;
	}
	
	.page-productos .productos_filtro_linea .view-id-filter_categorias ul li a {
		font-size: 14px;
	}
	
	.page-productos .productos_filtro_linea .view-id-filter_categorias li {
		width: 40%;
	}
	
	.page-productos .block-system {
		padding-top: 40px;
		width: 100%;
	}
	
	.page-productos .block-system .view-id-productosbycategory ul li {
		margin: 0 10% 0 0;
		width: 45%;
	}
	
	.page-productos .block-system .view-id-productosbycategory ul li:nth-child(2n+2) {
		margin: 0;
	}
	
	.institucional #block-system-main,
	.galeria #block-system-main,
	.galerias #block-system-main {
		padding-left: 2%;
    	width: 96%;
	}
	
	.institucional #block-system-main .left, .institucional .institucional_bot .left {
		padding-right: 0;
		width: 100%;
	}
	
	.institucional #block-system-main .right, .institucional .institucional_bot .right {
		width: 100%;
	}
	
	.institucional .institucional_bot {
		width: 100%;
	}
	
	.institucional #block-system-main .left, .institucional .institucional_bot .left {
		padding-left: 2%;
   		width: 96%;
	}
	
	.institucional #block-system-main .right, .institucional .institucional_bot .right {
		padding-left: 2%;
		padding-top: 40px;
		width: 96%;
	}
	
	.btn_display {
		display: block;
	}
	
	.institucional #block-system-main h2,
	.galeria #block-system-main h1,
	.galerias #block-system-main h2 {
		font-size: 32px;
		margin-bottom: 30px;
	}
	
	.contacto #block-system-main {
		width: 100%;
		margin-left: 0;
	}
	
	.contacto #block-system-main label {
		text-align: left;
	}
	
	.contacto #block-system-main select {
		width: 270px;
	}
	
	.contacto #block-system-main input {
		width: 250px;
	}
	
	.contacto #block-system-main textarea {
		width: 270px;
	}
	
	.contacto #block-block-21 {
		margin-left: 0;
		margin-top: 60px;
		width: 100%;
	}
	
	.contacto .productos_filtro_linea ul {
		display: block;
	}
	
	.view-novedades ul {
		width: 100%;
	}
	
	.view-novedades ul li {
		margin: 0 0 10%;
		width: 100%;
	}
	
	.view-galeria-de-imagenes ul {
		width: 100%;
	}
	
	.view-galeria-de-imagenes ul li {
		margin: 0 0 10%;
		width: 100%;
	}
	
	#header-wrapper {
		background: none repeat scroll 0 0 #fff;
		height: 80px;
	}
	
	#header-wrapper a {
		display: none;
	}
	
	#logo {
		background: url("http://104.131.52.104/sites/all/themes/elvyre/logo_b.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		height: 40px;
		margin: 20px 0;
		padding: 0 !important;
	}
	
	.mean-container .mean-bar {
		background: none repeat scroll 0 0 #000;
		top: 80px;
		width: 100%;
	}
	
	.front .tp-banner-container {
		padding-top: 50px;
	}
	
	.page-productos #page-title, .node-type-productos #page-title {
		top: 130px;
	}
	
	.productos #page-title {
		display: none;
	}
	
	.page-content {
		padding-top: 40px;
	}
	
	.page-productos .productos_filtro_linea {
		display: none;
	}
	
	.page-productos .block-system .view-id-productosbycategory ul li {
		margin: 0;
		width: 100%;
	}
	
	.item-list .pager {
		width: 250px;
	}
	
	.item-list .pager li {
		float: none;
    	margin: 0;
		width: auto !important;
	}
	
	.node-type-novedades #block-system-main, .biblioteca-archivos #block-system-main {
		padding-left: 0;
		width: 100%;
	}
	
	.page-productos .container,
	.novedades .container,
	.institucional .container,
	.galeria .container,
	.galerias .container,
	.biblioteca-archivos .container,
	.contacto .container {
		max-width: 100%;
	}
	
	.page-productos article.grid_12,
	.novedades article.grid_12,
	.institucional article.grid_12,
	.galeria article.grid_12,
	.galerias article.grid_12,
	.biblioteca-archivos article.grid_12,
	.contacto article.grid_12 {
		width: 100% !important;
	}
	
	.productos_filtro_categoria,
	.productos_filtro_linea,
	.contacto .productos_filtro_linea {
		background: none repeat scroll 0 0 #292828;
		padding: 1% 3%;
		width: 94%;
	}
	
	.productos_filtro_categoria h2,
	.productos_filtro_linea h2 {
		color: #ffffff;
		font-size: 18px;
		margin-bottom: 0 !important;
	}
	
	.productos_filtro_categoria ul,
	.productos_filtro_linea ul {
		background: none repeat scroll 0 0 #474645;
		display: none;
		left: 0;
		padding: 1% 3%;
		position: absolute;
		top: 51px;
		width: 94%;
		margin: 0 !important;
	}
	
	.productos_filtro_categoria ul li,
	.productos_filtro_linea ul li {
		border-bottom: medium none;
	}
	
	.productos_filtro_categoria ul li a,
	.productos_filtro_linea ul li a {
		color: #ffffff;
		padding: 0 !important;
	}
	
	.productos_filtro_categoria h2 a, .productos_filtro_linea h2 a {
		color: #ffffff !important;
	}
	
	.mean-container .mean-nav ul li li > div {
		display: none;
	}
	
	.mean-container .mean-nav ul li li a {
		border-top: medium none;
		opacity: 1;
		padding: 1% 10%;
	}
	
	.contacto .productos_filtro_linea ul li {
		color: #ffffff;
	}
	
	.productos_filtro_categoria ul,
	.productos_filtro_linea ul {
		background: none repeat scroll 0 0 #474645;
		display: none;
		left: 0;
		margin: 0 !important;
		padding: 1% 3%;
		position: absolute;
		top: 51px;
		width: 94%;
	}
	
	.contacto .productos_filtro_linea ul li {
		color: #ffffff;
	}
	
	.contacto #block-system-main {
		margin-top: 130px;
		padding-left: 1%;
		width: 98%;
	}
	
	.galeria .btn_display,
	.galerias .btn_display,
	.contacto .btn_display {
		display: none;
	}
	
	.galeria #block-system-main .field-item {
		padding: 0 5% 5% 0;
		width: 45%;
	}

}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .container{
        max-width: 460px;
    }

    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11, 
    .grid_12{
        float: left;
        width: 430px !important;
    }
    .container_12 {max-width: 460px !important;}
	.heading-centered {margin: 15px;}
    .page-content .row{
        margin-bottom: 0px;
    }

    .page-content *[class*="grid_"]{
        margin-bottom: 80px;
    }

    *[class*="grid_"] *[class*="grid_"]:last-child{
        margin-bottom: 0;
    }

    *[class*="grid_"] *[class*="grid_"]{
        margin-left: 0 !important;
    }
    
    #header, 
    #top-bar{
        width: 430px;
    }
    
    #logo{
        width: 100%;
        max-width: 100%;
    }
    
    #nav-container{
        display: none;
    }
    
    .dl-menuwrapper{
        display: block;
        margin-bottom: 20px;
        max-width: 220px;
    }
    
    .dl-menuwrapper li a:hover{
        color: #fff !important;
    }
    
    .header-style-4 .social-links{
        max-width: 200px;
        margin-top: 0;
    }
    
    #search{
        top: 0;
    }
	.social-links li {
    border-top: 1px solid #eee;
	margin-top: 10px;
    }
	#top-bar .social-links {width: 100%;}
    
    .tp-caption.list-left , 
    .tp-caption.list-right {
       display: none;
    }
    
    .grid_3 .numbers-counter li, 
    .grid_4 .numbers-counter li, 
    .grid_5 .numbers-counter li, 
    .grid_6 .numbers-counter li, 
    .grid_8 .numbers-counter li, 
    .grid_7 .numbers-counter li, 
    .grid_9 .numbers-counter li, 
    .grid_12 .numbers-counter li{
        width: 142px;
        height: 142px;
    }
    
    .grid_3 .numbers-counter li span, 
    .grid_4 .numbers-counter li span, 
    .grid_5 .numbers-counter li span, 
    .grid_6 .numbers-counter li span, 
    .grid_7 .numbers-counter li span, 
    .grid_8 .numbers-counter li span, 
    .grid_9 .numbers-counter li span, 
    .grid_12 .numbers-counter li span{
        padding-top: 35px;
    }
    
    .latest-posts li.post{
        width: 100%;
    }
    
    .tabs li{
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    .tabs.vertical, 
    .tab-content-wrap.vertical{
        width: 100%;
    }
    
    .tab-content-wrap.vertical .tab-content{
        padding-left: 0;
        padding-top: 30px;
    }
    
    .team-alternative li{
        width: 214px;
    }
    
    .team-member-hover .team-member-info .position{
        margin-bottom: 10px;
    }
    
    .team-member-hover .btn-medium{
        left: 55px;
    }
    
    .team-member-hover .team-member-info h5{
        padding-top: 30px;
    }
    
    .team-img-container .team-img-hover{
        display: none;
    }
    
    .history-arrow-right, 
    .history-arrow-left{
        background-size: 170px 35px !important;
    }
    
    #page-title.page-title-2 .pt-title{
        width: 100%;
        text-align: center;
        float: none;
        margin-bottom: 10px;
    }
    
    #page-title.page-title-2 .breadcrumbs{
        float: none;
        display: table;
        margin: 0 auto;
    }
    
    .tabs.vertical.services-tabs, 
    .tab-content-wrap.vertical.services-tab-content-wrap{
        width: 100%;
    }

    .post-body {margin-bottom: 40px;}
    .chart{
        width: 51px;
        height: 51px;
        min-height: 120px;
        margin-bottom: 20px;
    }
    
    .skills-circular.big .chart{
        width: 96px;
        height: 96px;
    }
    
    .skills-circular.big .percent{
        width: 68px !important;
        height: 68px !important;
        font-size: 18px;
    }
    
    .skills-circular.big canvas{
        height: 92px !important;
        width: 92px !important;
    }
    
    .skills-circular.big li{
        margin-right: 20px;
        margin-left: 25px;
    }
    
    .widget.social-feed li:nth-child(6n){
        margin-right: 0;
    }
    
    .widget.social-feed li:nth-child(4n){
        margin-right: 1px;
    }
    
    .portfolio-items-holder .grid_6{
        width: 100% !important;
        margin-bottom: 2px;
    }
    
    .portfolio-items-holder .grid_4{
        width: 100% !important;
        margin-bottom: 2px;
    }
    
    .portfolio-items-holder .grid_3{
        width: 100% !important;
        margin-bottom: 2px;
    }
    
    .container.full .portfolio-items-holder .isotope-item{
        width: 100%;
        margin-bottom: 2px;
    }
    
    .blog-posts.blog-post-small-image li .post-media-container, 
    .blog-posts.blog-post-small-image li .post-body, 
    .blog-posts.blog-post-small-image li .post-media-container img{
        width: 100%;
    }
    
    .blog-posts.blog-post-small-image li .post-body{
        padding-left: 0;
    }
    
    .blog-posts.isotope.cols li.blog-post.isotope-item{
        width: 430px !important;
    }
    
    #post-slider.nivoSlider{
        min-height: 142px;
    }
    
    .blog-post.isotope-item iframe{
        min-height: 142px;
    }
    
    .blog-posts.isotope.full li.blog-post.isotope-item{
        width: 430px !important;
    }
    
    .post-body{
        padding-left: 0;
        float: left;
    }
    
    .blog-posts.isotope.cols li.blog-post.isotope-item .post-body, 
    .blog-posts.isotope.full li.blog-post.isotope-item .post-body{
        float: none;
    }
    
    .grid_12.blog-posts .blog-post.isotope-item .post-media-container iframe{
        min-height: 125px;
    }
    
    .blog-posts.isotope.full li.blog-post.isotope-item .nivoSlider{
        min-height: 125px;
    }
    
    .map_canvas{
        height: 300px;
    }
    
    .copyright-container p{
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
	
	.not-front #logo {
		background: url("http://www-sistema-durlock.com.ar/sites/all/themes/elvyre/logo_b.png") no-repeat scroll center center #fff;
		float: none;
		margin: 0 auto;
		padding: 12px 0 !important;
		position: relative;
	}
	
	#logo img {
		visibility: hidden;
	}
	
	.not-front .page-content article.grid_12 {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-top: 10px;
	}
	
	.productos_filtro_linea {
		padding: 15px 30px;
	}
	
	.productos_filtro_categoria,
	.productos_filtro_linea,
	.contacto .productos_filtro_linea {
		background: none repeat scroll 0 0 #292828;
		padding: 1% 3%;
		width: 94%;
	}
	
	.productos_filtro_linea h2 {
		margin-bottom: 0;
	}
	
	.productos_filtro_categoria h2,
	.productos_filtro_linea h2 {
		color: #ffffff;
    	font-size: 18px;
		margin-bottom: 0 !important;
	}
	
	.productos_filtro_categoria h2 a,
	.productos_filtro_linea h2 a {
		color: #ffffff !important;
	}

	.productos_filtro_linea ul {
		background: none repeat scroll 0 0 #656463;
		display: none;
		left: 0;
		padding: 1% 3%;
		position: absolute;
		top: 74px;
		width: 94%;
		margin-top: 202px;
	}
	
	.productos_filtro_categoria ul,
	.productos_filtro_linea ul {
		background: none repeat scroll 0 0 #474645;
		display: none;
		left: 0;
		padding: 1% 3%;
		position: absolute;
		top: 54px;
		width: 94%;
		margin: 0 !important;
	}
	
	.contacto .productos_filtro_linea ul {
		display: block !important;
	}
	
	.contacto .productos_filtro_linea ul li {
		color: #ffffff;
	}
	
	.productos_filtro_categoria ul li,
	.productos_filtro_linea ul li {
		border-bottom: medium none;
	}
	
	.productos_filtro_categoria ul li a,
	.productos_filtro_linea ul li a {
		color: #ffffff;
		padding: 0 !important;
	}
	
	.page-productos .productos_filtro_linea {
		padding-top: 0;
		width: 100% !important;
	}
	
	.page-productos .productos_filtro_linea .view-id-filter_categorias li {
		border-bottom: medium none;
		padding: 10px 0;
		width: 33%;
	}
	
	.page-productos .productos_filtro_linea .view-id-filter_categorias ul li a {
		color: #fff;
		padding: 0;
	}
	
	.page-productos .productos_filtro_linea .view-id-filter_categorias ul li a:hover {
		color: #ffffff !important;
		font-weight: 700;
	}
	
	.productos_filtro_categoria ul li a.active,
	.productos_filtro_categoria ul li a:hover {
		color: #ffffff !important;
		font-weight: 700;
	}
	
	.detalle_producto {
		padding-left: 0;
		width: 430px;
	}
	
	.detalle_producto .nombre {
		width: 230px;
	}
	
	.detalle_producto h3 {
		font-size: 21px;
		margin-bottom: 15px;
	}
	
	.detalle_producto h1 {
		font-size: 40px;
		margin-bottom: 10px;
	}
	
	
	.detalle_producto h2 {
		font-size: 24px;
	}
	
	.detalle_producto p {
		font-size: 18px;
		line-height: 24px;
	}
	
	.detalle_producto .imagen,
	.detalle_producto .imagen .zoomWrapper {
		float: right;
		height: 200px;
		width: 200px;
	}
	
	.detalle_producto .imagen img {
		height: 160px;
	}
	
	.muestra_producto .opciones {
		background: none repeat scroll 0 0 #fff;
		display: none;
		position: absolute;
		top: 303px;
	}
	
	.muestra_producto .opciones li {
		margin: 10px !important;
	}
	
	.muestra_producto .detalle {
		margin-left: 0;
		width: 430px;
		padding-top: 120px;
	}
	
	.node-type-productos .muestra_producto .imagenes {
		height: 430px;
		padding-top: 30px;
		width: 430px;
	}
	
	.relacionados {
		margin-bottom: 0 !important;
	}
	
	.relacionados .rel_int {
		padding: 10px;
	}
	
	.node-type-productos .bottom2 .row {
		margin-bottom: 0;
	}
	
	#footer .grid_9 {
		visibility: hidden;
	}
	
	.detalle_producto .caracteristicas {
		position: absolute;
		width: 430px;
		padding-top: 30px;
	}
	
	/*.productos #logo {
		padding: 12px 0 !important;
	}*/
	
	.productos #page-title {
		padding: 40px 0 200px !important;
	}
	
	.productos #page-title .novedades_header {
		padding: 20px;
		width: 165px;
	}
	
	.productos #page-title .emozione {
		float: right;
		width: 215px;
	}
	
	.productos #page-title .novedades_header_side {
		padding: 121px 0 0 10px;
		width: 215px;
	}
	
	.productos #page-title .novedades_header_side h2 {
		font-size: 34px;
	}
	
	.productos #page-title {
		padding: 40px 0 150px !important;
	}
	
	.productos .productos1,
	.productos .productos2 {
		margin-bottom: 4%;
		margin-right: 4%;
		width: 48%;
	}
	
	.productos .productos1:nth-child(2n+2),
	.productos .productos2:nth-child(2n+2) {
		margin-right: 0;
	}
	
	.productos .sombra a {
		font-size: 24px !important;
	}
	
	.productos .prod_destacados {
		margin-right: 2%;
		margin-top: 25px;
		width: 100%;
	}
	
	.productos .prod_destacados .left img {
		height: auto;
		margin-left: 15px;
		width: 80%;
	}
	
	.productos .prod_destacados .preguntas {
		margin-left: 40px !important;
		margin-top: -65px;
		width: 60% !important;
	}
	
	.productos .prod_destacados .tejas {
		margin-top: -47px;
	}
	
	.productos .container {
		max-width: 430px;
	}
	
	.page-productos .block-system {
		width: 100%;
	}
	
	.page-productos .container,
	.novedades .container,
	.institucional .container,
	.galeria .container,
	.galerias .container,
	.biblioteca-archivos .container,
	.contacto .container {
		max-width: 100%;
	}
	
	.page-productos article.grid_12,
	.novedades article.grid_12,
	.institucional article.grid_12,
	.galeria article.grid_12,
	.galerias article.grid_12,
	.biblioteca-archivos article.grid_12,
	.contacto article.grid_12 {
		width: 100% !important;
	}
	
	.page-productos .productos_filtro_linea .view-id-filter_categorias li:nth-child(2n) {
		float: left;
	}
	
	.btn_display {
		display: block;
	}
	
	.galeria .btn_display,
	.galerias .btn_display,
	.contacto .btn_display {
		display: none;
	}
	
	.contacto #block-system-main {
		margin-top: 130px;
		padding-left: 1%;
		width: 98%;
	}
	
	.contacto .wpcf7-submit {
		margin-right: 81px !important;
		width: 333px !important;
	}
	
	.mean-container .mean-nav ul li li a {
		opacity: 1;
		border-top: medium none;
		padding: 1% 10%;
	}
	
	.mean-container .mean-nav ul li li > div {
		display: none;
	}

	.institucional #block-system-main,
	.galeria #block-system-main,
	.galerias #block-system-main {
		padding-left: 1%;
    	width: 98%;
	}
	
	.institucional #block-system-main .left, .institucional .institucional_bot .left {
		padding-right: 0;
		width: 100%;
	}
	
	.institucional #block-system-main .right, .institucional .institucional_bot .right {
		padding-top: 40px;
		width: 100%;
	}
	
	.institucional .institucional_bot {
		padding-right: 1%;
		width: 98%;
	}
	
	.contacto #block-system-main {
		margin-left: 0;
	}
	
	.contacto #block-block-21 {
		margin-left: 0;
	}
	
	.biblioteca-archivos #block-system-main {
		width: 445px;
	}
	
	.contact .btn_display {
		display: none;
	}
	
	.view-novedades ul {
		width: 470px;
	}
	
	.view-novedades ul li {
		width: 45%;
	}
	
	.view-galeria-de-imagenes ul {
		width: 100%;
	}
	
	.view-galeria-de-imagenes ul li {
		width: 45%;
	}
	
	#header-wrapper {
		background: none repeat scroll 0 0 #fff;
		height: 80px;
	}
	
	#header-wrapper a {
		display: none;
	}
	
	#logo {
		background: url("http://104.131.52.104/sites/all/themes/elvyre/logo_b.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		height: 40px;
		margin: 20px 0;
		padding: 0 !important;
	}
	
	.mean-container .mean-bar {
		background: none repeat scroll 0 0 #000;
		top: 80px;
		width: 100%;
	}
	
	.front .tp-banner-container {
		padding-top: 50px;
	}
	
	.page-productos #page-title, .node-type-productos #page-title {
		top: 130px;
	}
	
	.productos #page-title {
		display: none;
	}
	
	.page-content {
		padding-top: 40px;
	}
	
	.page-productos .productos_filtro_linea {
		display: none;
	}
	
	.node-type-novedades #block-system-main, .biblioteca-archivos #block-system-main {
		padding-left: 0;
		width: 100%;
	}
	
	.distribuidores #page-title {
		height: 220px !important;
		padding: 42px 0 0 !important;
	}
	.distribuidores #block-custom-producto-filter-distribuidores {
		float: left !important;
		margin-left: 0 !important;
		padding: 11px 0 !important;
		width: 430px !important;
	}
	
	.distribuidores .productos_filtro_categoria {
		padding: 15px 30px;
		width: 370px;
	}
	
	.distribuidores .page-content {
		padding-top: 200px;
	}
	
	.distribuidores .container {
		max-width: 430px;
	}
	
	.distribuidores .page-content .container #block-system-main {
		width: 100% !important;
	}
	
	.galeria #block-system-main .field-item {
		width: 31%;
		overflow: hidden;
	}

}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .container {
        max-width: 756px;
    }
    .grid_1 {
        width: 33px !important;
    }
    .grid_2 {
        width: 96px !important;
    }
    .grid_3 {
        width: 159px !important;
    }
    .grid_4 {
        width: 222px !important;
    }
    .grid_5 {
        width: 285px !important;
    }
    .grid_6 {
        width: 348px !important;
    }
    .grid_7 {
        width: 411px !important;
    }
    .grid_8 {
        width: 474px !important;
    }
    .grid_9 {
        width: 537px !important;
    }
    .grid_10 {
        width: 600px !important;
    }
    .grid_11 {
        width: 663px !important;
    }
    .grid_12 {
        width: 726px !important;
    }
    
    #search-block-form input {
     width: 86%;
    }
    #page-title .grid_8, 
    #page-title .grid_4{
        width: 100% !important;
    }
    
    #header, 
    #top-bar{
        /*width: 726px;*/
		width: 756px;
    }
    
    #logo{
        width: 100%;
        max-width: 100%;
    }
        
    .header-style-4 .social-links{
        max-width: 526px;
    } 
    
    .header-style-4 #logo{
        max-width: 170px;
    }
    
    #nav-container{
        width: 656px;
        margin-left: 0;
    }
    
    #nav{
        /*float: left;*/
		float: right;
    }
    
    .header-style-4 #nav-container #nav, 
    .header-style-5 #nav-container #nav{
        max-width: 656px;
    }
    
    .header-style-5 #nav-container{
        width: 100%;
        max-width: 100%;
    }
    
    .tp-caption.list-left p, 
    .tp-caption.list-right p{
        font-size: 14px !important;
    }
    
    .grid_3 .numbers-counter li{
        width: 159px;
        height: 159px;
    }
    
    .grid_3 .numbers-counter li span{
        padding-top: 45px;
    }
    
    .grid_4 .numbers-counter li{
        width: 110px;
        height: 110px;
    }
    
    .grid_4 .numbers-counter li span{
        padding-top: 25px;
    }
    
    .grid_5 .numbers-counter li{
        width: 141px;
        height: 141px;
    }
    
    .grid_5 .numbers-counter li span{
        padding-top: 35px;
    }
    
    .grid_6 .numbers-counter li{
        width: 115px;
        height: 115px;
    }
    
    .grid_6 .numbers-counter li span{
        padding-top: 27px;
    }
    
    .grid_7 .numbers-counter li{
        width: 136px;
        height: 136px;
    }
    
    .grid_7 .numbers-counter li span{
        padding-top: 32px;
    }
    
    .grid_8 .numbers-counter li{
        width: 117px;
        height: 117px;
    }
    
    .grid_8 .numbers-counter li span{
        padding-top: 28px;
    }
    
    .grid_9 .numbers-counter li{
        width: 133px;
        height: 133px;
    }
    
    .grid_9 .numbers-counter li span{
        padding-top: 30px;
    }
    
    .grid_12 .numbers-counter li{
        width: 144px;
        height: 144px;
    }
    
    .grid_12 .numbers-counter li span{
        padding-top: 37px;
    }
       
    
    .latest-posts li.post{
        width: 159px;
    }
    
    .tabs li{
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    .tabs.vertical, 
    .tab-content-wrap.vertical{
        width: 100%;
    }
    
    .tab-content-wrap.vertical .tab-content{
        padding-left: 0;
        padding-top: 30px;
    }
    
    .team-alternative li{
        width: 173px;
    }
    
    .team-member-hover .team-member-info .position{
        margin-bottom: 10px;
    }
    
    .team-member-hover .btn-medium{
        left: 35px;
    }
    
    .team-member-hover .team-member-info h5{
        padding-top: 20px;
    }
    
    .chart{
        width: 51px;
        height: 51px;
        min-height: 120px;
        margin-bottom: 20px;
    }
    
    .skills-circular.big .chart{
        width: 96px;
        height: 96px;
    }
    
    .skills-circular.big .percent{
        width: 48px;
        height: 48px;
        font-size: 18px;
    }
    
    .skills-circular.big canvas{
        height: 72px !important;
        width: 72px !important;
    }
    
    .skills-circular.big li{
        margin-right: 0;
        margin-left: 25px;
    }
    
    .widget.social-feed li:nth-child(2n){
        margin-right: 0;
    }
    
    .widget.social-feed li:nth-child(3n){
        margin-right: 1px;
    }
    
    .portfolio-items-holder .grid_6{
        width: 361px !important;
    }
    
    .portfolio-items-holder .grid_4{
        width: 240px !important;
    }
    
    .portfolio-items-holder .grid_3{
        width: 180px !important;
    }
    
    .portfolio-img-container figcaption .portfolio-item-like{
        float: none;
    }
    
    .container.full .portfolio-items-holder .isotope-item{
        width: 33%;
    }
    
    .blog-posts.blog-post-small-image .post-info-container .date-category{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .blog-posts.blog-post-small-image .post-info-container .post-info{
        padding-left: 0;
    }
    
    .blog-posts.isotope.cols li.blog-post.isotope-item{
        width: 100%;
    }
    
    #post-slider.nivoSlider{
        min-height: 142px;
    }
    
    .blog-post.isotope-item iframe{
        min-height: 142px;
    }
    
    .blog-posts.isotope.full li.blog-post.isotope-item{
        width: 348px;
    }
    
    .grid_12.blog-posts .blog-post.isotope-item .post-media-container iframe{
        min-height: 125px;
    }
    
    .blog-posts.isotope.full li.blog-post.isotope-item .nivoSlider{
        min-height: 125px;
    }
    
    .map_canvas{
        height: 300px;
    }
	
	.not-front .page-content article.grid_12,
	.not-front .page-content div.grid_12 {
		width: 756px !important;
		margin-right: 0 !important;
	}
	
	.productos_filtro_categoria,
	.productos_filtro_linea {
		padding: 15px 15px 180px;
		width: 170px;
	}
	
	.not-front #logo {
		width: 200px !important;
	}
	
	.detalle_producto {
		padding-left: 20px;
		width: 530px;
	}
	
	.detalle_producto .nombre,
	.detalle_producto .caracteristicas {
		width: 300px;
	}
	
	
	.detalle_producto .imagen {
		height: 230px;
		width: 230px;
	}
	
	.detalle_producto .imagen img {
		width: 190px;
	}
	
	.muestra_producto .opciones {
		width: 200px;
	}
	
	.muestra_producto .detalle {
		width: 290px;
		margin-left: 20px;
	}
	
	.node-type-productos .muestra_producto .imagenes {
		height: auto;
		width: 230px;
	}
	
	.zoomWrapper,
	.zoomWrapper img {
		height: auto;
		width: 230px;
	}
	
	.productos #logo {
		width: 240px;
	}
	
	.productos #page-title .novedades_header {
		width: 190px;
	}
	
	.productos #page-title .novedades_header_side h2 {
		font-size: 40px;
	}
	
	.productos .sombra {
		padding: 10px;
	}
	
	.productos .sombra a {
		font-size: 18px !important;
	}
	
	.productos .prod_destacados {
		margin-right: 2%;
		width: 32%;
	}
	
	.productos .prod_destacados .preguntas {
		margin-left: 10px;
	}
	
	.productos .prod_destacados .left img {
		height: auto !important;
    	width: 85% !important;
	}
	
	.productos .prod_destacados .right h1 {
		font-size: 24px;
		line-height: 26px;
	}
	
	.page-productos .block-system {
		padding-top: 20px;
		width: 100%;
	}
	
	.page-productos .block-system .view-id-productosbycategory ul li {
		margin: 0 5% 0 0;
		width: 30%;
	}
	
	.page-productos .block-system .view-id-productosbycategory ul li:nth-child(3n+3) {
		margin: 0;
	}
	
	.productos #page-title .novedades_header_side {
		padding: 182px 0 0 40px;
	}
	
	.view-novedades ul {
		width: 530px;
	}
	
	.view-novedades ul li {
		background: none repeat scroll 0 0 #fff;
		float: left;
		margin: 0 0 5% 3%;
		width: 30%;
	}
	
	.institucional #block-system-main,
	.galeria #block-system-main,
	.galerias #block-system-main {
		padding-left: 20px;
		width: 530px;
	}
	
	.institucional .parallax-4 {
		padding: 10px 0 60px !important;
	}
	
	.institucional .institucional_bot {
		width: 536px;
	}
	
	.contacto .productos_filtro_linea {
		padding: 15px 15px 180px;
		width: 170px;
	}
	
	.contacto #block-block-21 {
		margin-left: 130px;
	}
	
	.biblioteca-archivos #block-system-main {
		padding-left: 20px;
		width: 535px;
	}
	
	.view-galeria-de-imagenes .view-header {
		padding-left: 20px;
	}
	
	.view-galeria-de-imagenes ul {
		padding-left: 20px;
		width: 535px;
	}
	
	.view-galeria-de-imagenes ul li {
		width: 30.5%;
	}
	
	.page-productos .block-system .view-id-productosbycategory div.item-list {
		width: 100%;
	}
	
	.node-type-novedades #block-system-main, .biblioteca-archivos #block-system-main {
		padding-left: 20px;
		padding-top: 13px;
		width: 530px;
	}
	
	.distribuidores .page-content .container #block-system-main {
		width: 530px !important;
	}
	.distribuidores #block-custom-producto-filter-distribuidores {
		margin-left: 10px;
	}

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 972px;
    }
	.container_12 {
 max-width: 972px;
}

.container_12 .grid_1 {width: 51px;}
.container_12 .grid_2 {width: 132px;}
.container_12 .grid_3 {width: 213px;}
.container_12 .grid_4 {width: 294px;}
.container_12 .grid_5 {width: 375px;}
.container_12 .grid_6 {width: 456px;}
.container_12 .grid_7 {width: 537px;}
.container_12 .grid_8 {width: 618px;}
.container_12 .grid_9 {width: 699px;}
.container_12 .grid_10 {width: 780px;}
.container_12 .grid_11 {width: 861px;}
.container_12 .grid_12 {width: 942px;}
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11 {
        float: left;
    }
    .grid_1 {
        width: 51px;
    }
    .grid_2 {
        width: 132px;
    }
    .grid_3 {
        width: 213px;
    }
    .grid_4 {
        width: 294px;
    }
    .grid_5 {
        width: 375px;
    }
    .grid_6 {
        width: 456px;
    }
    .grid_7 {
        width: 537px;
    }
    .grid_8 {
        width: 618px;
    }
    .grid_9 {
        width: 699px;
    }
    .grid_10 {
        width: 780px;
    }
    .grid_11 {
        width: 861px;
    }
    .grid_12 {
        width: 942px !important;
    }
	#search-block-form input {
	width: 84%;
	}
    #header, 
    #top-bar{
        width: 972px;
    }
    
    .header-style-4 #nav-container #nav, 
    .header-style-5 #nav-container #nav{
        max-width: 872px;
    }
    
    .header-style-4 .social-links{
        max-width: 742px;
    } 
    
    #nav-container{
        width: 702px;
    }
    
    .grid_3 .numbers-counter li{
        width: 105px;
        height: 105px;
    }
    
    .grid_3 .numbers-counter li span{
        padding-top: 15px;
    }
    
    .grid_4 .numbers-counter li{
        width: 146px;
        height: 146px;
    }
    
    .grid_4 .numbers-counter li span{
        padding-top: 35px;
    }
    
    .grid_5 .numbers-counter li{
        width: 124px;
        height: 124px;
    }
    
    .grid_5 .numbers-counter li span{
        padding-top: 23px;
    }
    
    .grid_6 .numbers-counter li{
        width: 151px;
        height: 151px;
    }
    
    .grid_6 .numbers-counter li span{
        padding-top: 37px;
    }
    
    .grid_7 .numbers-counter li{
        width: 133px;
        height: 133px;
    }
    
    .grid_7 .numbers-counter li span{
        padding-top: 31px;
    }
    
    .grid_8 .numbers-counter li{
        width: 153px;
        height: 153px;
    }
    
    .grid_8 .numbers-counter li span{
        padding-top: 38px;
    }
    
    .grid_9 .numbers-counter li{
        width: 138px;
        height: 138px;
    }
    
    .grid_9 .numbers-counter li span{
        padding-top: 34px;
    }
    
    .grid_12 .numbers-counter li{
        width: 156px;
        height: 156px;
    }
    
    .grid_12 .numbers-counter li span{
        padding-top: 40px;
    }
    
    .latest-posts li.post{
        width: 213px;
    }
    
    .team-alternative li{
        width: 227px;
    }
    
    .team-member-hover .btn-medium{
        left: 65px;
    }
    
    .team-member-hover .team-member-info h5{
        padding-top: 40px;
    }
    
    .chart{
        width: 51px;
        height: 51px;
    }
    
    .skills-circular.big .chart{
        width: 72px;
        height: 72px;
    }
    
    .skills-circular.big .percent{
        width: 48px;
        height: 48px;
        font-size: 18px;
    }
    
    .skills-circular.big canvas{
        height: 72px;
        width: 72px;
    }
    
    .widget.social-feed li:nth-child(4n){
        margin-right: 1px;
    }
    
    .widget.social-feed li:nth-child(3n){
        margin-right: 0;
    }
    
    .portfolio-items-holder .grid_6{
        width: 470px;
    }
    
    .portfolio-items-holder .grid_4{
        width: 312px;
    }
    
    .portfolio-items-holder .grid_3{
        width: 234px;
    }
    
    .container.full .portfolio-items-holder .isotope-item{
        width: 33%;
    }
    
    .blog-posts.isotope.cols li.blog-post.isotope-item{
        width: 334px;
    }
    
    #post-slider.nivoSlider{
        min-height: 142px;
    }
    
    .blog-post.isotope-item iframe{
        min-height: 142px;
    }
    
    .blog-posts.isotope.full li.blog-post.isotope-item{
        width: 294px;
    }
    
    .grid_12.blog-posts .blog-post.isotope-item .post-media-container iframe{
        min-height: 125px;
    }
    
    .blog-posts.isotope.full li.blog-post.isotope-item .nivoSlider{
        min-height: 125px;
    }
    
    .map_canvas{
        height: 300px;
    }
	
	.not-front .page-content article.grid_12,
	.not-front .page-content div.grid_12 {
		width: 972px !important;
	}
	
	.detalle_producto {
		padding-left: 25px;
		width: 710px;
	}
	
	
	.detalle_producto .nombre,
	.detalle_producto .caracteristicas {
		width: 410px;
	}
	.detalle_producto .imagen {
		height: 300px;
		width: 300px;
	}
	
	#fancybox-inner img {
		height: 300px;
		width: 260px;
	}
	
	#fancybox-wrap {
		height: 300px;
	}
	
	.muestra_producto .detalle {
		margin-left: 20px;
		width: 400px;
	}
	
	.node-type-productos .muestra_producto .imagenes {
		height: 300px;
		width: 300px;
	}
	
	
	.productos #page-title .novedades_header_side {
		padding: 183px 0 0 40px;
	}
	
	.productos .sombra a {
		font-size: 24px !important;
	}
	
	.productos .prod_destacados .left img {
		height: auto !important;
    	width: 85% !important;
	}
	
	.page-productos .productos_filtro_linea {
		padding-left: 20px;
	}
	
	.page-productos .block-system {
		width: 340px;
	}
	
	.page-productos .block-system .view-id-productosbycategory ul li:nth-child(2n+2) {
		margin: 0;
	}
	
	.page-productos .block-system .view-id-productosbycategory ul li:nth-child(3n+3) {
		margin: 0 10% 0 0;
	}
	
	.page-productos .block-system .view-id-productosbycategory ul li {
		margin: 0;
   		width: 44%;
	}
	
	.page-productos .block-system .view-id-productosbycategory .views-field-field-image img {
		height: auto;
		width: 100%;
	}
	
	.page-productos .productos_filtro_linea .view-id-filter_categorias li {
		padding: 8px 0 8px 15px;
		width: 40%;
		margin-right: 2% !important;
	}
	
	.page-productos .productos_filtro_linea .view-id-filter_categorias li:nth-child(2n+1) {
		float: left;
		margin: 0 4% 0 0 !important;
	}
	
	.contacto #block-system-main {
		margin-left: 20px;
		width: 400px;
	}
	
	.contacto #block-system-main select {
		width: 270px;
	}
	
	.contacto #block-system-main input {
		width: 250px;
	}
	
	.contacto #block-system-main textarea {
		width: 270px;
	}

	.contacto .wpcf7-submit {
		margin-right: 20px !important;
		width: 270px !important;
	}
	
	.contacto #block-block-21 {
		margin-left: 20px;
		width: 296px;
	}
	
	.institucional #block-system-main,
	.galerias #block-system-main,
	.galeria #block-system-main {
		padding-left: 20px;
		width: 710px;
	}
	
	.institucional .institucional_bot {
		width: 718px;
	}
	
	.biblioteca-archivos #block-system-main {
		width: 690px;
	}
	
	.view-novedades ul {
		width: 735px;
	}
	
	.view-galeria-de-imagenes ul {
		width: 690px;
	}
	
	.item-list .pager {
		width: 250px;
	}
	
	.item-list .pager li {
		float: none;
    	margin: 0;
	}
	
	.node-type-novedades #block-system-main, .biblioteca-archivos #block-system-main {
		width: 670px;
	}
	
	.distribuidores #page-title {
		height: 180px !important;
	}
        .distribuidores #block-custom-producto-filter-distribuidores {
		width: 480px !important;
	}
	
	.distribuidores .page-content .container #block-system-main {
		width: 698px !important;
	}
	
	.distribuidores .page-content .container #block-views-distribuidores-block-1 {
		width: 100% !important;
	}
	
}

@media (min-width: 1200px) {
    .container {
        /*max-width: 1200px;*/
    }
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11, 
    .grid_12{
        float: left;
    }
    .grid_1 {
        width: 70px;
    }
    .grid_2 {
        width: 170px;
    }
    .grid_3 {
        width: 270px;
    }
    .grid_4 {
        width: 370px;
    }
    .grid_5 {
        width: 470px;
    }
    .grid_6 {
        width: 570px;
    }
    .grid_7 {
        width: 670px;
    }
    .grid_8 {
        width: 770px;
    }
    .grid_9 {
        width: 870px;
    }
    .grid_10 {
        width: 970px;
    }
    .grid_11 {
        width: 1070px;
    }
    .grid_12 {
        /*width: 1170px;*/
		width: 1269px;
    }
}


@media (min-width: 1340px){
    .container.full .portfolio-items-holder .isotope-item{
        width: 16.5%;
    }
}